/* public/css/estilos_catalogo_consulta.css */

/* Variables de color */
:root {
    --primary-color: #007bff;
    --primary-color-hover: #0056b3;
    --primary-color-border-hover: #004085;
    --table-header-bg: #f8f9fa;
    --button-text-color: #ffffff;
    --button-min-width: 90px; /* Ancho mínimo de los botones */
    --button-height: 35px; /* Altura mínima de los botones */
}

/* Estilos para los botones */
.btn-custom {
    color: var(--button-text-color);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    min-width: var(--button-min-width); /* Ancho mínimo aplicado */
    min-height: var(--button-height); /* Altura mínima aplicada */
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.btn-custom:hover {
    background-color: var(--primary-color-hover);
    border-color: var(--primary-color-border-hover);
}

.btn-custom:focus {
    outline: 2px solid var(--primary-color-hover);
    outline-offset: 2px;
}

/* Estilos para la tabla */
.table-custom {
    margin-top: 20px;
    border-collapse: separate;
    border-spacing: 0 10px; /* Agrega espacio entre las filas */
}

.table-custom th,
.table-custom td {
    padding: 15px 30px; /* Ajusta el padding para agregar espacio entre las columnas */
    text-align: left;
}

.table-custom th {
    background-color: var(--table-header-bg);
    border-bottom: 2px solid var(--primary-color);
}

.table-custom tbody tr {
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
}

.table-custom tbody tr:hover {
    background-color: #f1f1f1;
}

/* Ajustar tamaño de las cajas de texto */
.form-control.w-75 {
    width: 75%;
}
